.Table {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 2px solid red;
    width: 1000px;
    height: 200px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }
  .Heading {
    
    z-index: 1;
    position: absolute;
    width: 600px;
    height: 300px;
   
    
  
  }
  body {
    background-color: lightblue;
  }
 