.Table {
    width: 50%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  table {
    border: 2px solid forestgreen;
    width: 80px;
    height: 50px;
  }
    
  th {
    border-bottom: 1px solid black;
  }
    
  td {
    text-align: center;
  }
  .Heading {
    
    position: left;
    margin: 0 auto;
    text-align: left;
    clear: left;
    height: auto;
    z-index: 0;
  }